.calc{
    margin-top: 50px;
}

table {
    border: 1px solid black;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 10px;
    border-radius: 8px;
}

input[type="button"] {
    width: 100%;
    padding: 20px 40px;
    background-color: #B5D5C5;
    color: white;
    font-size: 24px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
}
input[type="button"]:hover{
    background-color: #A3BB98;
}

input[type="text"] {
    padding: 20px 30px;
    font-size: 24px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    border: 2px solid black;
}
h1{
    text-align: center;
    color: #939B62 ;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
